* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #0c3700;
  color: #aefc9a;
  padding: 0 5vw 0 10vw;
}
header h1, header form {
  flex:auto,
}

header form {
  width: 20vw;
}
header form a {
  color: white;
  text-decoration: none;
}
header form p {
  margin: 5px;
}

#cuerpo {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 80vh;
  background-color: #a8f094;
  flex-shrink: 0;
}

nav button {
  border: 2px solid #0b2405;
  border-radius: 5px;
  height: 7vh;
  background-color: #2b5f1e;
  color: #9ddd8b;
  font-weight: 800;
  font-size: larger;
  margin: 4px 8px 4px 8px;
}

nav button.catalogo {
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #0c3700;
  color: #aefc9a;
}

.badlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:auto;
}

.badlogin form {
  width: 20vw;
}
.badlogin form a {
  color: rgb(1, 63, 32);
  text-decoration: none;
}
.badlogin form p {
  margin: 5px;
}

#contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 80vh;
}

#vendidos {
  display: flex;
  flex-wrap: wrap;

}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  border: solid 3px rgb(1, 37, 3);
  background-color: #c7f0bc;

}
.producto .img {
  height: 200px;
  width: 200px;
}

#pedido {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.contenedor_pedido, .contenedor_detalle {
  display: flex;
  width: 50vw;
}


.celda_pedido {
  flex: auto;
  width: 15vw;
  margin-left: 20px;
}

.contenedor_detalle {
  background-color: #aefc9a;
  padding-left: 80px;
  gap:80px;
}
.celda_detalle {
  flex: auto;
  width: 15vw;
  
}